@media (max-width: 400px)
	.page2_contentBlock-text
		padding-bottom: 20px
		span
			font-size: 13px !important
	.page2_contentBlock-title
		padding-bottom: 0px !important
		h3
			font-size: 25px !important
	.section1-title_block
		padding-top: 15px !important
	.nav  
		display: flex
		justify-content: center 
	.dots
		display: none
	.title-text_yelo
		font-size: 50px !important
	.title-text_white
		font-size: 40px !important
	.section1-title
		font-size: 45px !important
	.mob-ingridient
		text-align: center
	.price-btn
		top: 5px !important
		left: -75px 
	.Pege4__Title
		font-size: 40px !important
		top: 11px !important
		left: 25% !important
	.page7_titile
		span
			font-size: 50px !important
	.page5__title
		left: 40px !important
	.page1-imgBurger
		margin-top: 250px
		width: 295px
		height: 220px
		margin-right: 8px
	.title-text
		text-align: center
		padding: 20px 15px !important
	.mobile-margin-top
		margin-top: 50px
	.mobile-margin-bottom
		padding-bottom: 100px
	.page6_block-hover
		padding: 25px !important
	.page6_block-hover-Title
		padding-bottom: 0px !important
	.slick-burger
		width: 120% !important
		margin: 73px 4px !important
	.slick-content-text-mini
		padding: 0px 0px !important
		font-size: 5px !important
	.slick_content_title
		font-size: 21px !important
	.price_param
		font-size: 22px !important
		position: relative
		left: -53px
	.price
		position: absolute
	.slick__container
		padding: 0px 30px !important
	.slick-icon
		width: 30px !important
	.sostav
		height: 55px !important
	.ingridients-menu
		left: 4px !important
		padding: 0px !important
	.page4-hidden
		display: none
	.page4__card-body
		padding: 0px 40px !important
	.Page5_accardion
		right: -107px !important
		width: 360px !important
	.page5__title
		display: none
	.popup 
		width: 95% !important
	.page7_container
		padding: 0px 20px !important
		margin-top: 50px
	.Page7_input
		margin-top: 0px
	.Page7_input_block
		padding-left: 5px !important
		padding-right: 5px !important	
	.footer-icon-block
		display: flex 
		justify-content: center
@media (min-width: 400px) and (max-width: 767px)
	.title-text_yelo
		font-size: 60px !important
	.title-text_white
		font-size: 51px !important
	.section1-title
		font-size: 65px !important
	.section1-title_block	
		padding-top: 35px !important
	.mob-ingridient
		text-align: center
	.price-btn
		top: 5px !important
	.Pege4__Title
		font-size: 50px !important
		top: 11px !important
		left: 56px !important
	.page7_titile
		span
			font-size: 66px !important
	.page5__title
		left: 40px !important
	.page1-imgBurger
		margin-top: 200px
		width: 300px
		height: 240px
	.title-text
		text-align: center
	.mobile-margin-top
		margin-top: 120px
	.page2_contentBlock-title
		padding: 10px 0px !important
		h3
			font-size: 25px !important
	.page2_contentBlock-text
		padding-bottom: 20px
		span 
			font-size: 15px
	.page5__title
		display: none
	.footer-icon-block
		display: flex
		justify-content: center	
	.mobile-margin-bottom
		padding-bottom: 100px
	.page6_block-hover
		padding: 25px !important
	.page6_block-hover-Title
		padding-bottom: 0px !important
	.slick-burger
		width: 100% !important
		margin: 73px 4px !important
	.slick-content-text-mini
		padding: 0px 6px !important
		font-size: 7px !important
	.slick_content_title
		font-size: 16px !important
	.price_param
		font-size: 30px !important
	.slick__container
		padding: 0px 30px !important
	.page4-hidden
		display: none
	.page4__card-body
		padding: 0px 40px !important
	.Page5_accardion
		right: -137px !important
		width: 466px !important
	.page7_container
		padding: 0px 20px !important
		margin-top: 50px
	.Page7_input
		margin-top: 0px
	.Page7_input_block
		padding-left: 5px !important
		padding-right: 5px !important
@media (min-width: 768px) and (max-width: 991px)
	.title-text
		text-align: center
	.page1-imgBurger
		margin-top: 135px
	.slick-burger
		margin: 45px 0px !important
	.slick_content_title
		line-height: 57px
	.mobile-margin-top
		margin-top: 150px
	.mobile-margin-bottom
		padding-bottom: 100px
	.price_param
		font-size: 50px !important
	.slick_content_title
		font-size: 45px !important
	.Pege4__Title
		span
			font-size: 50px
@media (min-width: 992px) and (max-width: 1199px)
	.page2_contentBlock
		margin: 20px 0px
	.slick-burger
		width: 400px !important
	.slick_content_title
		line-height: 57px
	.section1-title_block
		padding-top: 0px !important
	.page4__card-body-text
		margin-left: 20px

@media(min-width: 1200px)
	.slick__container
		padding: 50px 150px
	.page4__card-body
		padding: 0
		padding-left: 100px
	.page4__card-body-text
		padding-left: 40px
	.page4__container
		padding: 0px 60px
	.slick_content_title
		line-height: 57px
	.page4__card-body-img
		padding-left: 70px !important